*{
    margin-left: 50px;
    margin-right: 50px;
    background-image: url("Comet-flying-through-space-via-Shutterstock-800x430.jpg");
}

h1{
    position : relative;
    background: yellow;
    color: black;
    padding: 50, 0, 0, 0 px;
    text-align: center;
} 

body{
    text-align: justify;
}

p{
    text-align: justify;
    text-indent: 50px;
    background: black;
    color: yellow;
}

address{
    text-align: right;
    background: yellow;
}

.container{
    background-color: darkgrey;
    color: yellow;
    text-align: center;
}


